@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="page-header"><h1>This piece of software is brought to you by</h1></div>
        <div class="container">
            <div class="row whole-row">
                <div class="col col-md-4">
                    <div class="align-center">
                        <img src="~/Images/About/Korowacki.jpg" class="img-circle" alt="Andzej" width="250px" height="250px" />
                        <h4>Andžej Korowacki</h4>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="align-center">
                        <img src="~/Images/About/Kazakevicius.jpg" class="img-circle" alt="Andzej" width="250px" height="250px"/>
                        <h4>Gabrielius Kazakevičius</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="align-center">
                        <img src="~/Images/About/Maconko.jpg" class="img-circle" alt="Andzej" width="250px" height="250px" />
                        <h4>Tomas Maconko</h4>
                    </div>
                </div>
            </div>
        </div>
</body>

